name: Python CI Pipeline
permissions:
  contents: read

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install flake8 
          pip inastall bandit

      - name: Run linter (flake8)
        run: |
          flake8 . --ignore=E302,E305,W291,W293 --max-line-length=120


      - name: Run test suite
        run: python test_suite.py

      - name: Security scan (bandit)
        run: bandit -q -r .

